<div class="more-popover-menu">
  <PopoverMenu @expanded={{this.expanded}} @onchange={{action this.onchange}} @keyboardAccess={{false}} as |components api|>
    <BlockSlot @name="trigger">
      More
    </BlockSlot>
    <BlockSlot @name="menu">
      {{yield components.MenuItem}}
    </BlockSlot>
  </PopoverMenu>
</div>
